$primary: #5f8cc7;
$white: #fff;
$desc-rectangle: rgba(0, 0, 0, .4);
$orange: #ff9311;
$form-title: #22354a;
$form-input-bg: #f5f5f5;
$form-input-text: #8f959c;
$a-hover: #b7b7b7;
$desc-fon: #fafafa;
$border: #f1f1f1;
$darck-blue: #414f61;