// Анимация перед загрузкой сайта
@import "preloader";
// Цвета 
@import "colors";
// Кнопки 
@import "btn";
// Высплывающее сообщение
@import "message";


html {
    font-family: 'Montserrat', sans-serif;
    -webkit-text-size-adjust: 100%;
    line-height: 1.15;
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    user-select: none;
}

a {
    text-decoration: none;
    outline: none;
}

// mixins
@mixin before-line () {
    content: '';
    position: absolute;
    width: 0.2rem;
    height: 0.8rem;
    background: $orange;
}

@mixin after-line () {
    content: '';
    position: absolute;
    width: 0.8rem;
    height: 0.2rem;
    background: $orange;
}

@mixin p-relativ () {
    position: relative;
}

@mixin before-form-input () {
    content: '';
    position: absolute;
    top: 2.3rem;
    left: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin bg-repeat-size {
    background-repeat: no-repeat;
    background-size: cover;
}
// /mixins

.bg-1{
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 140rem;

    &::before{
        content: '';
        position: absolute;
        width: 32.5rem;
        height: 39rem;
        left: -7rem;
        top: 20.2rem;
        background: url(../img/bg1.svg);
        @include bg-repeat-size();
    }
    &::after{
        content: '';
        position: absolute;
        bottom: 9rem;
        right: 0;
        width: 21.5rem;
        height: 36rem;
        background: url(../img/bg2.svg);
        @include bg-repeat-size();
    }
}

.wrap{
    width: 100%;
    max-width: 117rem;
    padding: 0 1.5rem;
    z-index: 10;
}

// header section

.header{
    background: url(../img/bg_fon.jpg) center;
    @include bg-repeat-size();
    height: 100vh;
    min-height: 65.5rem;
    max-height: 95rem;
    display: flex;
    justify-content: center;
    position: relative;

    .wrap--header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: space-between;
        position: relative;

        &:before{
            content: '';
            background: url(../img/bg_fon-2.png) center;
            @include bg-repeat-size();
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }

    // header-top
    &__top{
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
    }

    .logo{
        display: inline-block;
    }

    &__nav{
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
    }

    &__item{
        padding: 1rem;
        margin-right: 3.5rem;
        display: flex;
        align-items: center;

        &:last-child{
            margin-right:0;
        }
    }

    &__icon{
        width: auto;
        height: auto;
        margin-right: 1rem;
    }

    &__link{
        font-size: 1.6rem;
        font-weight: 600;
        color:$white;
        transition: 0.3s;

        &:hover{
            color: $a-hover;
        }
    }

    // header main
    &__main{
        display: flex;
        justify-content: space-between;
    }

    &__info{
        width: 65.5rem;
    }

    &__filter-img{
        position: relative;

        &::before{
            content: '';
            position: absolute;
            top: -8rem;
            right: 12rem;
            width: 72rem;
            height: 52rem;
            background: url(../img/filter.png);
            @include bg-repeat-size();
            z-index: 0;
        }
    }

    &__title{
        font-size: 5.7rem;
        text-transform: uppercase;
        font-weight: 900;
        color:$white;
        margin: 2.7rem 0 5.5rem 0;
        line-height: 1.3;
    }

    &__title span{
        color:$primary;
    }

    &__block-desc{
        display: flex;
        justify-content: flex-end;
    }

    &__block-wrap{
        width: 36rem;
    }

    &__desc{
        background-color: $desc-rectangle;
        color: $white;
        font-size: 1.6rem;
        font-weight: 600;
        display: inline-block;
        padding: 1rem 2rem;
        margin-bottom: 0.5rem;
        position: relative;
        border-radius: 0.3rem;

        &:first-child::before{
            @include before-line ();
            left: -1px;
            top: -1px;
        }
        
        &:first-child::after {
            @include after-line ();
            left: -1px;
            top: -1px;
        }

        &:last-child::before{
            @include before-line ();
            left: 99.5%;
            top: 3rem;
        }
        
        &:last-child::after {
            @include after-line ();
            left: 98%;
            top: 98%;
        }
        
    }


    &__form{
        width: 39rem;
        background-color: $white;
        padding: 5rem 3rem 5.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 0.5rem;
        box-shadow: 0px 49px 55.86px 1.14px rgba(34, 53, 74, 0.2);
    }
    
    &__form--wait{
        pointer-events: none;
        position: relative;

        &:before{
            content: url(../img/form-wait.svg);
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.2);
            z-index: 99;
        }
    }


    #sendform input.error{
        border: 1px solid red
    }


    #sendform label.error{
        display: none !important;
    }

    &__form-action{
        padding-top: 2.6rem;
        width: 100%;
    }

    &__form-icon-camera{
        @include p-relativ();
        cursor: pointer;

        &:before{
            @include before-form-input();
            width: 1.2rem;
            height: 1rem;
            background: url(../img/form_icon/camera.png);
        }

        &::after{
            content: '';
            width: 2.5rem;
            height: 2rem;
            background: url(../img/form_icon/cloud.png);
            position: absolute;
            top: 18px;
            left: 90%;
            @include bg-repeat-size();
        }
    }

    &__form-icon-gears{
        @include p-relativ();

        &:before{
            @include before-form-input();
            width: 1.3rem;
            height: 1.3rem;
            background: url(../img/form_icon/gears.png);
        }
    }

    &__form-icon-user{
        @include p-relativ();
        
        &:before{
            @include before-form-input();
            width: 1rem;
            height: 1.2rem;
            background: url(../img/form_icon/user.png);
        }
    }

    &__form-icon-call{
        @include p-relativ();

        &:before{
            @include before-form-input();
            width: 1.2rem;
            height: 1.2rem;
            background: url(../img/form_icon/call.png);
        }
    }

    &__form-input{
        width: 100%;
        height: 5.5rem;
        background-color: $form-input-bg;
        font-size: 1.3rem;
        color: $form-input-text;
        border: none;
        margin-bottom: 2rem;
        outline:none;
        padding-left: 4.5rem;
        padding-right: 1rem;
        border: 1px solid $border;
        border-radius: 0.5rem;

        &:last-of-type{
            margin-bottom: 2rem;
        }
    }

    .header__form-icon-camera input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: -1;
     }

     &__form-label{
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        cursor: pointer;
     }
    
    &__form-title{
        font-size: 2.2rem;
        text-transform: uppercase;
        color: $form-title;
        font-weight: 900;
    }

    // header bootom
    &__bootom{
        margin-bottom: 5rem;
        display: flex;
        justify-content: center;
    }

    &__arrow{
        position: relative;
        height: 4rem;
        width: 2rem;
        transition: 0.5s;
        cursor: pointer;

        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 1.7rem;
            height: 4rem;
            background: url(../img/arrow-bottom.svg);
            @include bg-repeat-size();
        }

        &:hover{
            transform: translate(0, 2rem);
        }
    }

}
// end header section

.wrap--trust-us{
    padding-top: 9.5rem;
}

.bg-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 117rem;

    &::before{
        content: '';
        position: absolute;
        top: 22rem;
        left: -24rem;
        margin: auto 0;
        width: 21.5rem;
        height: 36rem;
        opacity: 0.4;
        z-index: 1;
        background: url(../img/bg2.svg);
        @include bg-repeat-size();
    }
    &::after{
        content: '';
        position: absolute;
        top: 35.5rem;
        left: -45rem;
        width: 67.3rem;
        height: 32.5rem;
        background: #f1f1f1;
    }
}

.trust-us{
    display: flex;
    justify-content: center;
    position: relative;

    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title{
        font-size: 4rem;
        text-transform: uppercase;
        font-weight: 900;
        color: $form-title;
        margin: 0;
    }

    &__availability{
        width: 30rem;
        height: 8.5rem;
        background-color: $desc-fon;
        text-align: right;
        padding: 2.2rem 4.4rem 2rem 0;
        border: 1px solid $border;
        border-radius: 0.5rem;
        position: relative;

        &::before{
            content: '';
            position: absolute;
            width: 0.8rem;
            height: 0.8rem;
            left: -1px;
            top: -1px;
            border-left: 0.2rem solid $orange;
            border-top: 0.2rem solid $orange;
        }
        
        &::after {
            content: '';
            position: absolute;
            width: 0.8rem;
            height: 0.8rem;
            left: 98%;
            top: 92%;
            border-right: 0.2rem solid $orange;
            border-bottom: 0.2rem solid $orange;
        }

    }
    
    &__desc{
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 900;
        color: $primary;
    }


    // slider
    &__slider{
        padding: 8rem 0 0 0;
        position: relative;
    }

    &__img-block{
        width: 36rem;
        height: auto;
        position: relative;
        margin-left: 3rem;
        box-shadow: 0px 9px 23px -18px #000000;
        margin-bottom: 5rem;
        cursor: pointer;
        border-radius: 0.5rem;
        transition: background 0.5s ;
        
        &:first-child{
            margin-left: 0;
        }
    }

    &__img-link{
        transition: all 0.4s;
        
        &:before{
            content: url(../img/icon/zoom.png);
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #909aa4;
            border-radius: 0.5rem;
            z-index: 5;
            transition: all 0.3s;
            opacity: 0;
        }

        &:hover:before{
            opacity: .5;
        }
    }



    &__action-left{
        position: relative;

        &:before{
            content: '‹';
            position: relative;
            width: 4rem;
            height: 4rem;
            text-align: center;
            background-color: $desc-fon;
            border: 1px solid $border;
            border-radius: 0.5rem;
            z-index: 99;
            top: 0;
            cursor: pointer;
            transition: 0.3s;
            font-size: 3rem;
            color: $darck-blue;
            display: inline-block;
        }
        
        &:hover::before{
            background: $orange;
            border: none;
            box-shadow: 0px 24px 29px 0px rgba(223, 122, 0, 0.34);
            color: $white;
        }
    }

    &__slider-control{
        position: absolute;
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 18rem;
    }

    &__action-right{
        position: relative;

        &:before{
            content: '›';
            position: relative;
            width: 4rem;
            height: 4rem;
            background-color: $desc-fon;
            border: 1px solid $border;
            border-radius: 0.5rem;
            z-index: 99;
            top: 0;
            left: 0;
            cursor: pointer;
            transition: 0.3s;
            font-size: 3rem;
            text-align: center;
            color: $darck-blue;
            display: inline-block;
        }
        
        &:hover::before{
            background: $orange;
            border: none;
            box-shadow: 0px 24px 29px 0px rgba(223, 122, 0, 0.34);
            color: $white;
        }
    }    

    &__slider-counter{
        text-align: center;
        padding-bottom: 10.5rem;
        font-size: 3rem;
        font-weight: 800;
        color: $orange;
    }

    &__img{
        width: 100%;
        height: auto;
    }
}

// Медиа запросы
@import "media";